.add_package {
  width: 100%;
  height: 100%;
}
.label_title {
  height: 50px;
  line-height: 50px;
  margin-right: 20px;
  font-size: 16px;
}
.package_img {
  .package_content {
    height: 60px;
    .package_image {
      width: 60px;
      display: inline-block;
      margin-left: 20px;
      img {
        width: 100%;
      }
    }
  }
}
.package_product {
  width: 300px;
  margin-bottom: 20px;
  .product_content {
    li {
      height: 50px;
      line-height: 50px;
    }
    .product_text {
      width: 200px;
      text-align: center;
      display: inline-block;
    }
  }
  .content_title {
    height: 50px;
    line-height: 50px;
    .product_title {
      float: left;
      width: 200px;
      text-align: center;
    }
    .product_num {
      width: 60px;
      float: left;
      text-align: center;
    }
  }
}
.package_return {
  margin-bottom: 10px;
}